.app {
display: flex;
flex-direction: column;
align-items: center;

}
.button{
  background-color: rgb(231, 192, 145);
  border: 1px solid rgb(245, 11, 11) ;
    border-radius: 20px;
    color: rgb(243, 9, 9);
    font-size: 50px;
    padding: 10px;
    margin: 10px;
}


.yanyanakaravan{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}